@import "tailwindcss";

/* LOGIN */

.school {
    background-image: url(../src/assets/image/school.jpg);
    background-size: cover;
   background-position: center;
    background-repeat: no-repeat;
}

/* .logoDiv {
    @apply w-[50%] h-[20%] flex justify-center
}

.logo {
    @apply h-full flex items-center justify-center
}

.rightLogo{
    @apply w-[70%] flex flex-col justify-center
} */


.logoDiv{
    @apply flex h-[20%] lg:w-[50%]  gap-2 xl:w-[50%];
}

.rightLogo{
    @apply w-[80%] flex flex-col justify-center items-start
}

.fullScreen {
    @apply h-full w-full flex gap-2 justify-center items-center min-h-screen;
}

.form{
    @apply w-full h-[70%]  flex flex-col justify-end items-center;
}

.formDiv {
    @apply w-[60%] flex flex-col relative lg:w-[50%];
}


.formDiv input {
    @apply w-full border-b-2 pt-6 pb-2 outline-none duration-200 text-gray-400;
}


.formDiv label {
    @apply absolute left-2 top-1/2 transform -translate-y-0 transition-all duration-200  pointer-events-none bg-transparent px-1;
    transform-origin: left top;
}


.formDiv input:focus + label,
.formDiv input:not(:placeholder-shown) + label {
    transform: translateY(-1.6rem) scale(0.85) translateX(-1rem);
    color: gray;
}


/* For Navigation */

.nav {
    /* 1024 */
    @apply w-full h-full border-r-1 border-gray-300 shadow-2xl flex flex-col 

    /* sm */

    /* sm:w-[200px] */

}

.nav button {
    @apply xl:text-[1.2rem] xl:text-[.8rem]
}


/* FOR STUDENT INFORMATION */


.formInfo {
    @apply w-[45%] flex flex-col relative  flex-wrap mt-7
}


.formInfo input {
    @apply border-1 p-2 rounded-[10px] outline-none
}


.formInfo label {
    @apply absolute left-2 top-1/4 transform -translate-y-0 transition-all duration-200  pointer-events-none bg-transparent px-1;
    transform-origin: left top;
}


.formInfo input:focus + label,
.formInfo input:not(:placeholder-shown) + label {
    transform: translateY(-1.8rem) scale(0.85) translateX(-.8rem);
    color: gray;
}


.formDiagnosis {
    @apply w-[90%] flex flex-col relative  flex-wrap mt-7
}


.formDiagnosis input {
    @apply border-1 p-2 rounded-[10px] outline-none
}


.formDiagnosis label {
    @apply absolute left-2 top-1/4 transform -translate-y-0 transition-all duration-200  pointer-events-none bg-transparent px-1;
    transform-origin: left top;
}


.formDiagnosis input:focus + label,
.formDiagnosis input:not(:placeholder-shown) + label {
    transform: translateY(-1.8rem) scale(0.85) translateX(-.8rem);
    color: gray;
}

.scrollbar::-webkit-scrollbar {
    width: 0;
}