@import "tailwindcss";

/* LOGIN */

.fullScreen {
    @apply h-full w-full flex gap-2;
}

.form{
    @apply w-[60%] h-full  flex flex-col justify-center items-center;
}

.formDiv {
    @apply w-[40%] flex flex-col relative;
}


.formDiv input {
    @apply w-full bg-transparent border-b-2 pt-6 pb-2 outline-none duration-200;
}


.formDiv label {
    @apply absolute left-2 top-1/2 transform -translate-y-0 transition-all duration-200  pointer-events-none bg-transparent px-1;
    transform-origin: left top;
}


.formDiv input:focus + label,
.formDiv input:not(:placeholder-shown) + label {
    transform: translateY(-1.6rem) scale(0.85) translateX(-1rem);
    color: gray;
}


