@import "tailwindcss";



.navigationContainer {
    @apply w-[20%] h-full flex items-center justify-center sm:hidden 
}


.navigationContainer img {
    @apply h-[35%]
}


.newNavigationContainer{
    @apply hidden sm:flex 
}

.mainNavigation{
    @apply  w-full  py-3 font-semibold text-[.7rem] flex gap-2
}

.mainNavigation img {
    @apply h-4 xl:h-5 2xl:h-6 md:h-3 ml-7
}

.mainNavigation p { 
    @apply flex  cursor-pointer lg:text-[.8rem] 2xl:text-[1rem] xl:text-[.9rem] 
}

.inPage {
    @apply  text-[#A12217] bg-[#FEF2F2] border-r-4 border-r-[#A12217]
}

.notPage {
    @apply bg-transparent text-[#1f2937]
}

.Settings img {
    @apply h-4 xl:h-5 2xl:h-6 md:h-3
}

.Settings p {
    @apply xl:text-[1rem]  2xl:text-[1.1rem] md:text-[.8rem]
}